RewriteEngine On
RewriteBase /

# Переписывание /ege-matematika/ на math.php
RewriteRule ^ege-matematika/?$ math.php [L,NC]

# Убедимся, что физические файлы и папки не переписываются
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d



<FilesMatch "\.(pdf|jpg|png)$">
    Header set Content-Disposition "attachment"
</FilesMatch>

<FilesMatch "\.(jpg|png|mp3)$">
    Header set Cache-Control "no-store, no-cache, must-revalidate"
</FilesMatch>

<FilesMatch "\.yml$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

<Files "config.php">
    Order Deny,Allow
    Deny from all
</Files>

<FilesMatch "^adm_7f3k9p2/.*">
    Order Deny,Allow
    Deny from all
</FilesMatch>